@import "./variables/variable.scss";

.result__body {
    background-color: $white;
    width: 100%;
    max-height: 100vh;
    font-family: $font;
    position: relative;
    overflow: hidden;
}
.search__container{
    width: 100%;
    max-width: 600px;
    padding: 5px 15px;
    border-radius: 15px;
    position: relative;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 20px;
    height: fit-content;
}

.result_container {
    padding: 0px 20px;
    padding-top: 10px;
}
.heading {
    font-size: 35px;
    font-weight: 400;
    color: $black;
}
.show_result {
    display: grid;
    grid-template-columns: minmax(0, 300px) minmax(0, 3fr);
    grid-gap: 70px;
    position: relative;
}